APP_NAME=Pakistan AI Real Estate Price Predictor API
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
SECRET_KEY=change-me-to-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/real_estate_db
MODEL_DIR=artifacts
MODEL_FILE_NAME=best_price_model.joblib
ENCODER_FILE_NAME=feature_encoder.joblib
SCRAPER_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
