fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
python-dotenv
pandas
numpy
scikit-learn
xgboost
joblib
requests
beautifulsoup4
selenium
python-jose[cryptography]
pyjwt
passlib[bcrypt]
email-validator
plotly
shap
python-multipart
